body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

th {
  text-transform: capitalize;
}

th, td {
  padding: 10px;
  /* text-transform: uppercase; */
  text-align: center;
  border: 1px solid #000;
  background: #f2f2f2;
}

h3, p{
  display: inline-block;
  padding: 0 5px;
}
